<html>
    <head>
        <title>Elevent + Nettlify CMS Blog Exemple</title>
    </head>
    <body>
        <h1>Elevent + Nettlify CMS Blog Exemple</h1>
        {{ content | safe }}
    </body>
</html>

